body {
    margin: 0;
    padding: 0;
}

/* header box which include logo; links to the home index page */
.root-header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 100%;
    top: 0;
    background-color: rgba(22, 27, 34, 1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

/* change links colors in header div */
.root-header a {
    padding: 4px;
    text-decoration: none;
    font-size: 32px;
    font-weight: 700;
    font-family: sans-serif;
    background-color: rgb(48, 57, 68);
    color: rgb(128, 128, 128);
    border-radius: 8px;
}

/* BODY */
.root-body {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000000;
    color: #ffffff;
}

/* desc */
.cnt-desc {
    margin-bottom: 8px;
    padding: 8px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #0b0e13;
}

.cnt-desc-header {
    font-size: 48px;
    font-weight: 900;
    color: #cfcfcf;
}

.cnt-desc-para {
    font-size: 32px;
    color: #756c6c;
}

/* html, css */
.cnt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.cnt-box {
    margin: 8px 24px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: #161B22;
    border: 1px solid #696969;
    border-radius: 8px;
    font-family: 'Source Sans Pro', sans-serif;
}

.cnt-box:last-child {
margin: 8px 24px 16px 24px;
}

/* content header */
.cnt-header {
    margin: 32px 0 0 0;
    padding: 0;
    font-size: 32px;
    font-weight: 700;
}

/* specific header */
.cnt-header-html {
    color: #71ff78;
}
.cnt-header-css {
    color: #5edaff;
}
.cnt-header-js {
    color: #DAFF52;
}

/* content paragraph */
.cnt-para {
    font-size: 24px;
}

/* content link */
.cnt-link {
    margin: 16px 0 32px 0;
    padding: 8px 16px;
    background-color: #e9e4dd ;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 32px;
}

.cnt-link:hover {
    background: #000;
    color: #ffffff;
}

/* .root-footer {} */

/* Media Queries */
@media screen and (min-width: 768px) {
    .cnt-box {
        margin: 16px;
        width: calc(50% - 50px);
    }
}
@media screen and (min-width: 1024px) {
    .cnt-box {
        margin: 16px;
        width: calc(33.33% - 75px);
    }
}